header {
  font-family:Optima, sans-serif;
  background: darkred;
  text-align: center;
  color: white;
  padding: 20px
}

header p {
  font-family:Gill Sans, sans-serif;
}

img {
  display: block;
  width: 400px;
  margin: auto;
}


main {
  background: lightgray;
  padding: 22%
}

/* Article fonts */
.introContainer, .aboutContainer, .contactContainer {
   font-family: Gill Sans, sans-serif; 
}


/* Header fonts */
h2, h3{
  font-family: Marker Felt, fantasy;
  text-align: center
}


/* Email-link */
a{
  color: blue;
  text-decoration: underline;
}

a:hover{
  color: darkred;
}


hr {
  margin: 40px;
}

footer {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  background: darkred;
  text-align: center;
  color: white;
  padding: 20px
}