header {
  font-family:Optima, sans-serif;
  background: darkred;
  text-align: center;
  color: white;
  padding: 20px
}

header p {
  font-family:Gill Sans, sans-serif;
}

main {
  background: lightgray;
  font-family: Gill Sans, sans-serif;
  padding: 20%;
}

img {
  width: 300px;
  margin: auto;
}

h2, h3{
  font-family: Marker Felt, fantasy;
  text-align: center
}


/* Email-link */
a{
  color: blue;
  text-decoration: underline;
}

a:hover{
  color: darkred;
}


hr {
  margin: 40px;
}

footer {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  background: darkred;
  text-align: center;
  color: white;
  padding: 20px
}